<!DOCTYPE html>
<html>
  <head>
    <title>Remove Data from {{ table_name }}</title>
  </head>
  <body>
    <h1>Remove Data from {{ table_name }}</h1>
    <form method="POST">
      <label>Column:</label>
      <select name="condition_column">
        {% for column in columns %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}</select
      ><br /><br />
      <label>Value:</label><br />
      <input type="text" name="condition_value" required /><br /><br />
      <button type="submit">Remove</button>
    </form>
    {% if message %}
    <p style="color: green">{{ message }}</p>
    {% endif %}
    <h2>Existing Data</h2>
    <table border="1">
      <thead>
        <tr>
          {% for column in columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          {% for value in row %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <a href="{{ url_for('admin_dashboard') }}">
      <button type="button">Back to Dashboard</button>
    </a>
  </body>
</html>
